@using PM.Models
@using PM.lib
@model ProductImport
@{
    var displayText = Model != null && Model.ImportId > 0 ? "Sửa đơn nhập hàng" : "Thêm đơn nhập hàng";
    var product = ViewBag.Product as ProductView;
}

@section css{


}

@section js{

}

<div class="right_col" role="main" style="min-height: 3539px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a class="btn btn-sm btn-danger" asp-controller="Product" asp-action="AddEdit" asp-route-modelId="@product.Product.ProductId"><i class="fa fa-reply"></i> Trờ về trang sản phẩm</a>
                <h3>@displayText</h3>
            </div>

            @*<div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>*@
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@displayText @*<small>different form elements</small>*@</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <form asp-controller="Import" asp-action="AddEdit" method="post" class="form-horizontal form-label-left">
                            @Html.HiddenFor(Model => Model.ImportId)
                            @Html.HiddenFor(Model => Model.ProductId)
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                    Nhà cung cấp <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-10 col-xs-12">
                                    @Html.EditorFor(model => model.ImportFrom, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @required = "required" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Giá nhập <span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @required = "required" } })
                                </div>
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Số lượng <span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @required = "required" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                    Mô tả
                                </label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control col-md-7 col-xs-12", @rows = "2" })
                                </div>
                            </div>
                            @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                Ngày nhập <span class="required">*</span>
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.EditorFor(model => model.ImportDate, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @required = "required" } })
            </div>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                Ghi chú
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
            </div>
        </div>*@
                            @Html.ValidationMessage("InvalidAuth", new { @class = "text-danger" })
                            @if (ViewBag.Msg != null)
                            {
                                <p class="text-success">
                                    @ViewBag.Msg
                                </p>
                            }
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: auto;">
                    <div class="x_title">
                        <h2>Thông tin sản phẩm @*<small>different form elements</small>*@</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content form-horizontal">
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngành hàng <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-10 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Category?.CategoryName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Mã sản phẩm <span class="required">*</span>
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Product.ProductCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Tên sản phẩm <span class="required">*</span>
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Product.ProductName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Giá bán lẻ <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Product.Price.ToCurrency()">
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Đơn vị <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Unit?.UnitName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Giá bán buôn <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Product.SalePrice.ToCurrency()">
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Ghi chú
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12 text-box single-line" disabled readonly value="@product.Product?.DetailContent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
