@using PM.Models
@using PM.lib
@model List<Order>
@{
}

@section css{
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
}

@section js{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $('#listing').dataTable();

    </script>
}

<div class="right_col" role="main" style="min-height: 3771px;">
    <div class="">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách đơn xuất hàng</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="listing" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th>Mã đơn xuất</th>
                                    <th>Người nhận</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Tổng tiền</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.ShippingName</td>
                                            <td>@item.BillingAddress</td>
                                            <td>@item.ShippingPhone</td>
                                            <td>@item.OrderTotal.ToCurrency()</td>
                                            <td><a asp-controller="Product" asp-action="OrderInfo" asp-route-modelId="@item.Id" class="btn btn-primary">Chi tiết</a> <a onclick="return Confirm();" asp-controller="Product" asp-action="UpdateOrder" asp-route-modelId="@item.Id" class="btn btn-danger">Xoá</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
